@tailwind base;
@tailwind components;
@tailwind utilities;

.controls, .legend {
  width: 1000px;
  max-width: 100%;
}

.model {
  z-index: 1;
}

.icon {
  height: 20px;
  width: auto;
}

.icon-lg {
  height: 36px;
}
